@model SimpleCrm.VM.CreateReportDto
@{
    ViewData["Title"] = "Create Report";
}

<h2 class="text-center m-5">Create New Report</h2>
<form asp-action="Create" method="post" class="w-75 m-auto">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea id="editor"  asp-for="Description" class="form-control" placeholder="Enter The Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-1">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#editor'), {
        toolbar: ['bold', 'italic', 'underline', 'bulletedList', 'numberedList', 'blockQuote'],
        language: 'en' // Arabic language support
    });
</script>