@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var userId = Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var user = await UserManager.FindByIdAsync(userId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-b6t6Z9FqFZ1bJ8nFC74c4WVldHb+r97MfqTe+v1pFVMAF7sPtQybHd7zNhE3G5D1bO/IcVwE1eYPzDK7Hvtldg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleCrm.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    @if (!User.IsInRole("Employee"))
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index">Ashal</a>
                    }
                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Clients" asp-action="Index">Ashal</a>
                    }
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (!User.IsInRole("Employee"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
                                    </li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>

                                }
                            }
                        </ul>
                        <ul class="navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Welcome @user?.Name
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                       
                                        <li>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword"><i class="bi bi-key"></i> Change Password</a>
                                        </li>
                                        @if (!User.IsInRole("Emplyee "))
                                        {
                                            <a class="dropdown-item text-dark" asp-area="" asp-action="ExportClientsToExcel" asp-controller="Clients"><i class="bi bi-file-spreadsheet"></i> Export Clients</a>
                                        }
                                        <li>
                                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                                                <button type="submit" class="dropdown-item text-danger"><i class="bi bi-box-arrow-left"></i> Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>

                </div>
            </div>
        </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     @if (User.Identity.IsAuthenticated)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Ashal Network - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
 *@
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
