@model SimpleCrm.VM.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3 text-center">Login Now</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <p asp-validation-summary="All" class="text-danger"></p>

                                <form asp-action="Login" id="form" class="row g-4">
                                    <input asp-for="DeviceId" id="deviceId" type="type" value="" hidden />
                                    <div class="col-12">
                                        <label asp-for="Email"> Email <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="Password"> Password <span class="text-danger">*</span></label>
                                        <div class="password-container">
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                <input asp-for="Password" class="form-control password" placeholder="Enter Password" />
                                                <i class="bi bi-eye-fill login-eye-first togglePassword"></i>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <a class="text-primary" asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4 float-end">login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-bootstrap"></i>
                                <h2 class="fs-1">Ashal Network</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function returnDeviceId() {
    let deviceId = localStorage.getItem('deviceId');
    if (deviceId === null) {
    // If no device ID, generate a new one (could use UUID or any other method)
    deviceId = 'device-' + Date.now() + Math.random().toString(36).substr(2, 9);
    localStorage.setItem('deviceId', deviceId);
    }
    return deviceId;
    }
    let value=document.getElementById("deviceId")
    let dev=returnDeviceId()
    if(localStorage.getItem("deviceId") === null) {
        localStorage.setItem("deviceId",dev)
        value.value=dev
    }
    else
        value.value=returnDeviceId()
  
</script>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
